.checkbox {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    &_label {
        position: relative;
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5em;
    	padding: 0 1em;
    	min-width: 80px;
        transition: all 0.2s ease-in-out;
        color: var(--text-secondary);
        font-weight: 500;
        cursor: pointer;
        background-color: var(--surface-a);
        border: 1px solid var(--surface-b);

        &:first-child {
            border-radius: 8px 0 0 8px;
        }

        &:last-child {
            border-radius: 0 8px 8px 0;
        }

        &:not(:first-child) {
            border-left: none;
        }

        &:hover {
            color: var(--text);
            background-color: var(--surface-b);
        }

        &Active {
            background-color: var(--primary-500);
            color: var(--text);
            border-color: var(--primary-500);
            font-weight: 600;
        }
    }
}