.header {
    display: flex;
    justify-content: space-between;
    padding: 0.15em 0.5em;
    border-radius: 0.15em;
    align-items: center;
    background: linear-gradient(15deg, var(--primary-600), var(--surface-c));

    &_div {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    &_search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
        padding: 0.25em 0.25em 0.25em 0.75em;
        font-size: 0.8em;
        font-weight: 500;
        border-radius: 0.25em;
        font-family: var(--font-family);
        border: 1px solid var(--surface-b);
        text-decoration: none;
        text-transform: capitalize;
        color: var(--surface-base);
        background: linear-gradient(-12deg, var(--text), var(--text-secondary)30%);
        transition: all 0.3s ease-in-out;

        &:hover {
            filter: brightness(150%);
        }

        &Close {
            width: 1.2em;
            height: 1.2em;
            color: var(--primary-600);
        }
    }

    &_title {
        color: var(--text);
        font-size: 1.2em;
    }

    &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-secondary);

        &>svg {
            width: 2.5em;
            height: 2.5em;
        }
    }
}