.arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 2.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    z-index: 20; 

    &_right {
        right: -30px;
        border-radius: 0 0.25em 0.25em 0; 
    }

    &_left {
        left: -30px;
        border-radius: 0.25em 0 0 0.25em;
    }

    &::before {
        border-radius: 0;
    }

    &:hover { 
        background-color: color-mix(in srgb, var(--text) 3%, transparent 95%);

        &>svg {
            color: var(--primary-500);
        }
    }

    &_icon {
        width: 2em;
        height: 2em;
        color: var(--text-secondary);
        transition: color 0.2s ease-in-out;

        &Right {
            transform: rotate(180deg);
        }
    }
}