.search {
    position: relative;
    display: flex;
    width: 100%;


    &_input {
        width: 100%;
        padding: 0.5em 1em 0.5em 3em;
        border-radius: 5em 0 0 5em;
        font-size: 1em;
        border: 1px solid var(--terciaryColor);
        background-color: var(--primaryColor);
        color: var(--fontColor);
        font-family: var(--font-family);
        outline: 1px solid transparent;
        border-right: none;
        transition: all 0.3s ease-in-out;

        &:focus {
            border: 1px solid var(--highlightColor);
            border-right: none;
        }

    }

    &_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5em;
        font-weight: 400 !important;
        font-size: 0.9em !important;
        letter-spacing: 0.04em;
        border-radius: 0 0.75em 0.75em 0 !important;
        background: blue;
    }

    &_icon {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        width: 1.5em;
        height: 1.5em;
        color: var(--fontSecondColor);
    }

}

.checkbox {
    display: flex;
    justify-content: center;
    padding: 0.15em 0.3em;
    gap: 0.5em;
}