:root {
	--maxWidth: 1100px;
	--primaryColor: #121b22;
	--secondaryColor: #222831;
	--terciaryColor: #393e46;
	--highlightColor: #dab512;
	--fontColor: #ffffff;
	--hover: #ffffff09;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: linear-gradient(to bottom, var(--primaryColor), var(--primaryColor));
}

.mainMenuLogo {
	width: 1.5em;
	height: 1.5em;
}
