:root {
	/*--surface-base: #040F0F;
	--surface-a: #061818;
	--surface-b: #2D3A3A;
	--surface-c: #0b2b0f;
	--primary-600: #248232;
	--primary-500: #2BA84A;
	--primary-900: #23bb4915;*/
	/* Backgrounds */
	--surface-base: #030712;
	--surface-a: #0B1220;
	--surface-b: #111827;
	--surface-c: #1F2937;
	--surface-d: #374151;

	/* Primary */
	-primary-50: #FFF8E7;
	--primary-100: #F7E8B0;
	--primary-200: #EFD77B;
	--primary-300: #E2C04A;
	--primary-400: #D3AE32;
	--primary-500: #C9A227;
	--primary-600: #A8851E;
	--primary-700: #806517;
	--primary-800: #5A4710;
	--primary-900: #3A2D0A;
	--primary-950: #231A06;

	/* Text */
	--text: #F8FAFC;
	--text-secondary: #A4A8B3;
	--text-muted: #737883;


	/* Semantic */
	--info: #38BDF8;
	--success: #22C55E;
	--warning: #F59E0B;
	--danger: #EF4444;

	/* Hover */
	--hover: rgba(50, 95, 220, 0.1);

	/* Borders */
	--border: #323744;

	/* Radius */
	--radius-xs: 0.125em;
	--radius-sm: 0.25em;
	--radius-md: 0.5em;

	--maxWidth: 1420px;
	--maxWidthContent: 1415px;
	--maxWidthSlider: 1920px;
	--heightHeader: calc(100svh );
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

 

body { 
	background: radial-gradient(circle, var(--surface-base), var(--surface-base));
}

.mainMenuLogo {
	width: 1.5em;
	height: 1.5em;
}

.separator {
	margin: 0.35em 0;
	border: 2px outset #57575750;
}

.logo_category {
	position: relative;
	width: 3em;
	height: 3em;
	transition: transform 0.25s ease-in-out;
	transform: translateY(0);
}

.scrollBarStyle {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #888;
}

.scrollBarStyle::-webkit-scrollbar {
	width: 6px;
}

.scrollBarStyle::-webkit-scrollbar-thumb {
	background-color: var(--primary-600);
}

.scrollBarStyle::-webkit-scrollbar-track {
	background-color: var(--surface-b);
}

.scrollBarStyleX {
	overflow-y: hidden;
	overflow-x: auto;
	scrollbar-color: #888;
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
}

.scrollBarStyleX::-webkit-scrollbar {
	height: 4px;
}

.scrollBarStyleX::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--primary-600);
}

.scrollBarStyleX::-webkit-scrollbar-track {
	background-color: var(--surface-b);
}

.slick-dots {
	position: absolute;
	top: calc(100% - 2.5em);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	backdrop-filter: blur(2px);
	z-index: 10;

	@media (width < 700px) {
		display: none !important;
	}
}

.slick-dots li {
	margin: 0.5em 0.35em 0.35em 0.35em !important;
	background-color: var(--surface-d);
	opacity: 0.4;
	border-radius: var(--radius-sm);
	width: 1.4em !important;
	height: 0.35em !important;
	color: transparent;
	transition: all 0.25s ease-in-out;



	&:hover {
		background: radial-gradient(circle, var(--primary-500), var(--primary-600));
		opacity: 1;
	}

}

.slick-dots .slick-active {
	background: var(--primary-500);
	color: transparent;
	width: 3.2em !important;
	opacity: 1;
}

.slick-track {
	display: flex;
	align-items: center;
	gap: 0.5em !important;
}