:root {
	/*--surface-base: #040F0F;
	--surface-a: #061818;
	--surface-b: #2D3A3A;
	--surface-c: #0b2b0f;
	--primary-600: #248232;
	--primary-500: #2BA84A;
	--primary-900: #23bb4915;*/
	/* Backgrounds */

	/* Superficies / Fondos */
	--surface-base: #06050A;
	--surface-a: #0E0B16;
	--surface-b: #171326;
	--surface-c: #261F3B;
	--surface-d: #3D3259;

	/* Primary (Amatista / Púrpura Místico) */
	--primary-050: #FAF5FF;
	--primary-100: #F3E8FF;
	--primary-200: #E9D5FF;
	--primary-300: #D8B4FE;
	--primary-400: #C084FC;
	--primary-500: #A855F7;
	/* Acento principal */
	--primary-600: #9333EA;
	--primary-700: #7E22CE;
	--primary-800: #6B21A8;
	--primary-900: #581C87;
	--primary-950: #3B0764;

	/* Text */
	--text: #F8FAFC;
	--text-secondary: #94A3B8;
	--text-muted: #64748B;

	/* Semantic */
	--info: #38BDF8;
	--success: #22C55E;
	--warning: #F59E0B;
	--danger: #EF4444;

	/* Hover */
	--hover: rgba(50, 95, 220, 0.1);


	/* Borders */
	--border: #201e20;

	/* Radius */
	--radius-xs: 0.125em;
	--radius-sm: 0.25em;
	--radius-md: 0.5em;
	--radius-lg: 0.75em;
	--radius-xl: 1em;

	--maxWidth: 1520px;
	--maxWidthContent: 1515px;
	--maxWidthSlider: 1920px;
	--heightHeader: calc(100svh);
	--gray-50: oklch(0.984 0.003 247.858);
	--gray-100: oklch(0.968 0.007 247.896);
	--gray-200: oklch(0.929 0.013 255.508);
	--gray-300: oklch(0.869 0.022 252.894);
	--gray-400: oklch(0.704 0.04 256.788);
	--gray-500: oklch(0.554 0.046 257.417);
	--gray-600: oklch(0.446 0.043 257.281);
	--gray-700: oklch(0.372 0.044 257.287);
	--gray-800: oklch(0.279 0.041 260.031);
	--gray-900: oklch(0.208 0.042 265.755);
	--gray-950: oklch(0.129 0.042 264.695);

}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	background: radial-gradient(circle, var(--surface-base), var(--surface-base));
}

.mainMenuLogo {
	width: 1.5em;
	height: 1.5em;
}

.separator {
	margin: 0.35em 0;
	border: 2px outset #57575750;
}

.logo_category {
	position: relative;
	width: 3em;
	height: 3em;
	transition: transform 0.25s ease-in-out;
	transform: translateY(0);
}

.scrollBarStyle {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #888;
}

.scrollBarStyle::-webkit-scrollbar {
	width: 6px;
}

.scrollBarStyle::-webkit-scrollbar-thumb {
	background-color: var(--primary-600);
}

.scrollBarStyle::-webkit-scrollbar-track {
	background-color: var(--surface-b);
}

.scrollBarStyleX {
	overflow-y: hidden;
	overflow-x: auto;
	scrollbar-color: #888;
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
}

.scrollBarStyleX::-webkit-scrollbar {
	height: 4px;
}

.scrollBarStyleX::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--primary-600);
}

.scrollBarStyleX::-webkit-scrollbar-track {
	background-color: var(--surface-b);
}

.slick-dots {
	position: absolute;
	top: calc(100% - 2.5em);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	backdrop-filter: blur(2px);
	z-index: 10;

	@media (width < 700px) {
		display: none !important;
	}
}

.slick-dots li {
	margin: 0.5em 0.35em 0.35em 0.35em !important;
	background-color: var(--surface-d);
	opacity: 0.4;
	border-radius: var(--radius-sm);
	width: 1.4em !important;
	height: 0.35em !important;
	color: transparent;
	transition: all 0.25s ease-in-out;



	&:hover {
		background: radial-gradient(circle, var(--primary-500), var(--primary-600));
		opacity: 1;
	}

}

.slick-dots .slick-active {
	background: var(--primary-500);
	color: transparent;
	width: 3.2em !important;
	opacity: 1;
}

.slick-track {
	display: flex;
	align-items: center;
	gap: 0.5em !important;
}