.main {
	display: flex;
	flex-direction: column;
	/*display: grid;*/
	/*grid-template-columns: 17em 1fr;*/
	/*grid-template-rows: 5em 1fr;*/
	min-height: 100svh;
	max-width: var(--maxWidth); 
	margin: 0 auto;
	background: radial-gradient(ellipse at top, var(--primaryColor), var(--secondaryColor)),
            radial-gradient(ellipse at bottom, var(--terciaryColor), var(--terciaryColor));;
}



.home{
	height: var(--heightHeader);
}

.section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
	padding: 0.5em;
	column-gap: 0.5em;
}



@media (width < 700px) {
	
	.menu{
		display: none;
		
	}
}

.article {
	/*flex: 1 1 50%;*/
	min-width: 20em;
}

@media (width < 750px) {
	.article {
		flex: 1 1 100%;
		min-width: 100%;
	}
}

.articleThree {
	flex: 1 1 100%;
	padding: 0 0.5em;
}

.section_title {
	padding: 0.25em 0.75em;
	margin: 0.5em 0 0.5em 0;
	font-size: 1.15em;
	width: max-content;
	border-radius: 0.5em;
	color: var(--fontColor);
	background-color: var(--hover);
}

