.main {
	display: flex;
	flex-direction: column;
	max-width: var(--maxWidth);
	margin: 0 auto;
	height: 100%;
	width: 100%;
}



.home {
	margin: 4.5rem 0 0 0;
	height: var(--heightHeader);
	width: 100%;
}

.section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
	padding: 0.5em;
	column-gap: 0.5em;
	width: 100%;
}



@media (width < 700px) {

	.menu {
		display: none;

	}
}

.article {
	/*flex: 1 1 50%;*/
	min-width: 20em;
}

@media (width < 750px) {
	.article {
		width: 100svw;

	}
}

.articleThree {
	flex: 1 1 100%;
	padding: 1em 0em;
	max-width: var(--maxWidth);
	margin: 0 auto;
	background-color: var(--surface-base);
}

.section_title {
	position: relative;
	padding: 0.15em 0.75em;
	margin: 0.5em 0 0.75em 0;
	font-size: 1.15em;
	width: max-content;
	border-radius: var(--radius-sm);
	color: var(--text);

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 3px;
		height: 100%;
		border-radius: var(--radius-sm);
		background-color: var(--primary-500);
	}
}