.header {
    position: sticky;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: var(--radius-sm);
    background-color: var(--surface-a);
    z-index: 30;

    &_filtersArea {
        display: flex;
        align-items: center;
        flex: 1;
        min-width: 0; // Previene desbordamientos en flexbox
    }

    &_order {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-shrink: 0;
    }
}