.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 0.15em;
    padding: 0.5em;
    background-color: var(--hover);

    &_order {
        display: flex;
        align-items: flex-end;
        gap: 0.5em;
    }

    &_title {
        color: var(--fontColor);
    }

    &_icon {
        width: 2.5em;
        height: 2.5em;
        color: var(--fontSecondColor);
        animation: animation;
    }

    @keyframes animation {}
}