.header {
    position: sticky;
    top: 5em;
    display: flex;
    justify-content: space-between;
    background-color: var(--surface-base);
    padding: 0.25em 1.25em;
    align-items: center;
    z-index: 100;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        border-radius: 0.25em;
        background: var(--primary-500);
        z-index: 15;
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -10px;
        height: 10px;
        width: 100%;
        background: var(--surface-base);
        pointer-events: none;
    }

    &_div {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    &_search {
        color: var(--warning);
        font-size: 1.2em;
        font-weight: 500;
    }

    &_title {
        color: var(--text);
        font-size: 1.35em;
        margin: 0;
    }

    &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        color: var(--text-secondary);

        &>svg {
            width: 2.5em;
            height: 2.5em;
        }
    }
}