.section {
    position: relative;
    z-index: 5;

}

.button {
    display: flex;
    align-items: center;
    gap: 0em;
    padding: 0.38em 0.8em;
    border: none;
    border-radius: 0.15em;
    font-size: 0.9em;
    font-family: var(--font-family);
    color: var(--fontColor);
    background: linear-gradient(-12deg, var(--highlightColor), var(--highlightColor));
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        filter: brightness(140%);
    }

    &_active {
        background-color: var(--highlightColor);
        border-radius: 0.15em 0.15em 0 0;
    }

    &_icon {
        width: 1.5em;
        height: 1.5em;
    }

    &_number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.6em;
        height: 1.6em;
        margin: 0 0 0 1em;
        color: var(--fontColor);
        border-radius: 0.2em;
        border: 1px solid var(--fontSecondColor);
        background-color: var(--highlightColorBasic);
    }
}

.filters {
    display: none;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    margin: 0.7em 0 0 0;
    padding: 0.5em;
    width: 19em;
    max-height: calc(100svh - 13em);
    background-color: var(--terciaryColor);
    border: 1px solid var(--hover);
    border-radius: 0 0.15em 0.15em 0.15em;
    z-index: 2;

    &_triangle {
        display: none;
        position: absolute;
        top: 2.15em;
        left: 1em;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 10px solid #CCCCCC;
        z-index: 3;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -0.75em;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 10px solid var(--terciaryColor);
            z-index: -1;
        }

        &Open {
            display: block;
        }

    }

    &_open {
        display: flex;
    }

    &_footer {
        display: flex;
        justify-content: flex-end;

    }
}

.dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100svw;
    height: 100svh;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(1px);
    z-index: 3;
}