.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.475em;
    height: 2.475em;
    border-radius: 0.25em;
    border: none;
    background-color: var(--highlightColorBasic);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--highlightColor);
    }

    &_icon {
        width: 1.7em;
        height: 1.7em;
        opacity: 0;
        color: var(--fontColor);
        transform: scale(0);
        animation: appearAnimation 0.2s ease-in-out both;
    }

    @keyframes appearAnimation {
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}