.section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: var(--heightHeader);

    @media (width < 700px) {
        grid-column: 1 / span 2;
        padding: 0;
    }
}

.content {
    width: calc(100% - 2em);
    max-width: var(--maxWidthContent);
    background-color: var(--primaryColor);
    border: 1px solid var(--secondaryColor);
    padding: 0.5em;
    margin: 0 auto;

    @media (width < 700px) {
        grid-column: 1 / span 2;
        padding: 0;
    }
}